<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>View</title>

    <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/canvas-datagrid"></script>
</head>
<body>
    <div class="center">
        <div class="btn-bar"><div id="btnBar"></div></div>
        <div class="center-box">
            <div class="file-input" id="app"></div>
        </div>
    </div>


<script src="/js/viewer.js"></script>



</body>
</html>